@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.about {
  padding: 119px 80px 173px 0px; /*padding for paragraph top right bottom left*/
  background-color: #0a2850;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  max-width: 1600px;
  box-sizing: border-box; /*without this the width is over 1600px */
  display: flex;
  justify-content: flex-end;
}

.about__span {
  /*an alternative to using <br> */
  display: block;
}

.about__title {
  z-index: 1;
  position: absolute;
  left: 80px;
  top: 100px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px; /*reset*/
}

.about__content {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  right: 100px;
  top: 119px;
}

.about__paragraph {
  z-index: 1;
  max-width: 550px; /*so all the text lines up perfectly */
  margin: 0px 0px 10px 0px; /* top right bottom left  manually set the margins */
}

/*the last paragraph has 0 margins */
.about__paragraph:last-of-type {
  margin: 0px;
}

.about__circle {
  /*circle is created via CSS, there is no image file for it */
  background: #2f80ed;
  border-radius: 50%; /*this makes it a circle Also width and height being the same (so it is not oval*/
  width: 450px;
  height: 450px;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 1s infinite;
}
