.header{
    background-color: #FFFFFF;
    background-image: url(../images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logo
{
    padding-top: 25px;
    padding-left: 25px;
}
.nav {
    display:flex;
    justify-content:space-between;
    
  }
  .nav-links {
    padding-top: 25px;
    padding-right: 75px;
    display:flex;
    column-gap:20px;
  }

  .nav__link {
      color: #000000; /*fixed it defaulting to purple*/
      font-weight: bold;
      text-decoration: none;/*removes underline*/
  }

  .nav__link:hover {
      color: #2F80ED;
      transition: color 0.5s ease-out 0.5s;
  }

  .header__title {
    padding-left: 50px;
    line-height: 30pt; /*control the spacing between lines */
    font-weight: 400; /*make it not bold*/

  }

  .header__span-accent{
      color:#2F80ED;
      font-family: 'Noto Serif Display', 'Times New Roman',serif;
      font-style: italic;
  }

  .header__description {
    padding-left: 50px;

  }