.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 800px; /*this makes the default size bigger*/
  padding-bottom: 100px;
  padding-top: 100px;
}

.menu__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  text-align: center;
  max-width: 780px;
  margin: 0 auto; /*centers itself within parent element 0 is bottom/top auto is left/right*/
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  max-width: 780px;
  margin: 0 auto; /*centers itself within parent element 0 is bottom/top auto is left/right*/
  margin-top: 24px;
  margin-bottom: 100px;
}
.menu__span {
  /*an alternative to using <br> */
  display: block;
}

.menu__cards {
  /*flexbox */
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  row-gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
