.menu{
    background-color: #0a2750;
    background-image: url(../images/background_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 800px; /*this makes the default size bigger*/
    padding-bottom:100px;
    padding-top:100px;
}

.menu__title {  
font-family: 'Inter', 'Arial', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
color: #FFFFFF;
text-align: center;
max-width:780px;
margin:auto; /*centers itself within parent element */

}

.menu__subtitle {
    font-family: 'Noto Serif', 'Times New Roman',serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    max-width:780px;
    margin:auto; /*centers itself within parent element */
    margin-top:24px;
    margin-bottom:100px;
}
.menu__span{
    /*an alternative to using <br> */
    display:block;
}

.menu__cards {
    /*flexbox */
    display:flex;
    flex-direction: row;
    column-gap:100px;
    row-gap:100px;
    flex-wrap: wrap;
    justify-content: center;
}

.card__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;
    list-style: none; /*to prevent bullet points */
}
.card{
    width: calc(50% - 50px); /*half the parent - half the gap */
    max-width:600px;

}
.card__list-item {
    font-family: 'Noto Serif', 'Times New Roman',serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    display:flex;
    flex-direction: row;
    
    justify-content:space-between; /*put item and price at opposite ends */
    list-style: none; /*just in case to prevent bullet points */
    margin-top:16px;

}
.card__list-divider {
    border-bottom:1px solid #FFFFFF;
    flex-grow: 1; /*expand to fill avaliable space */

}