.nav {
    display:flex;
    justify-content:space-between;
    
  }
  .nav-links {
    position:absolute;
    top: 30px;
    right: 80px; /*position:absolute overrides the padding of parent so we need this to get it in right spot even tho paddign is 80 */
    display:flex;
    column-gap:20px;
    /*use position:absolute be3cause it is in the upper right-position is based on it being in upper corner */
  }

  .nav__link {
      color: #000000; /*fixed it defaulting to purple*/
      text-decoration: none;/*removes underline*/
      font-family: 'Inter', 'Arial', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px
  }

  .nav__link:hover {
      color: #2F80ED;
      transition: color 0.25s ease-out 0.5s;
  }
