.nav {
  display: flex;
  justify-content: end; /*align the nav links to the right side of the page */
  margin: 0;
  padding-top: 30px;
}
.nav__links {
  display: flex;
  column-gap: 20px;
  /*use position:absolute be3cause it is in the upper right-position is based on it being in upper corner */
}

.nav__link {
  color: #000000; /*fixed it defaulting to purple*/
  text-decoration: none; /*removes underline*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
  transition: color 0.25s ease-out 0.5s;
}
