.recipes {
  background-color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 100px;
  padding-left: 80px;
  padding-bottom: 215px;
}

.recipes__title {
  max-width: 500px;
  margin-bottom: 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0; /*reset */
}

.recipes__span {
  /*an alternative to using <br> */
  display: block;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0px 0px 80px 0px; /*top right bottom left */
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: auto; /*center it*/
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: center;
}

.recipes__video {
  width: 480px; /*width applies to the video AND caption because I put it here */
}

.recipes__iframe {
  border: none; /* instead of border:0 or frameborder */
  height: 273px;
  width: 100%; /*if you do not do this the video does not fill the entire container, there is black on top and bottom */
}

.recipes__video-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
